// Specific CSS for your home-page
.search{
  z-index: 100 !important;
  transition: background-color 0.4s cubic-bezier(0.35, 0, 0.65, 1) 0s !important;
  padding-bottom: 16px !important;
  padding-top: 16px !important;
  display: flex !important;
  justify-content: center !important;
  line-height: 20px !important;
  padding: 0px !important;

}

.toptext{
  color: white;

}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: regular;
}

.banner h2 {
  text-align: center;
  font-weight: lighter;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}



