// Import page-specific CSS files here.
@import "home";
@import "show";
.main-container {
  background-color: white;
}

#map {
  position: sticky;
 float:right;
 top:0;
 width:100%;
 z-index:100;
 background-color: #c0c0c0;
}

.card-product {
  border-radius: 5px;
}
