.image-container {
  height: 300px;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text h1 {
  color: white;
  padding: 25px;
}
