<% @tennis_courts.each do |tennis_court| %>
  <div class="card">
    <h1><%= tennis_court.court_name %></h1>
    <h2><%= tennis_court.address %></h2>
    <p><%= tennis_court.price_per_hour %></p>
  <% end %>
</div>

