<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dv3mbtcpg/image/upload/v1623729947/ryan-searle-qjrjJnFypa0-unsplash_pmqdxe_szkmo5.jpg);">
  <div class="container">
    <div class="toptext">
      <div class="d-flex justify-content-center">
      <nav class="navbar navbar-light">
        <div class="d-flex flex-column bd-highlight mb-3">
        <h1>Tennis courts near you</h1>
        <h2>No yearly subcriptions</h2>
        </div>
      </nav>
    </div>
    </div>
     <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="search">
      <div class="d-flex align-items-center">
        <nav class="navbar navbar-light">
          <%= link_to "Discover all courts", tennis_courts_path, class: "btn btn-warning p-3 font-weight-bold"  %>
       </nav>
     </div>
   </div>
 </div>
</div>






