.card-host {
  overflow: hidden;
  height: 120px;
  background: white;
  color: black;
  border-radius: 20px;
  border: 1px solid rgba(220, 220, 220, 0.9);
  display: flex;
  align-items: center;
  margin: 20px;
}

.card-host:hover {
  text-decoration: none;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.card-host h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

.card-host h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-host p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.card-host .card-host-infos {
  padding: 16px;
}
