.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  background: none !important;
  box-shadow: none !important;
}

.mapboxgl-popup-content a {
  box-decoration: none !important;
  text-decoration: none !important;
}

#map {
 top:0;
 width:100%;
 z-index:100;
 background-color: #c0c0c0;
}

