.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
 float:right;
 top:0;
 width:100%;
 z-index:100;
 background-color: #c0c0c0;
}

